body {
  background-color: Moccasin;
  font-family: Arial, sans-serif;
  text-align: center;
  /* padding: 20px 20px 20px 20px; */  /* top, right, bottom, left */
  /* padding: 20px; */
}
/* Black background color for the top navigation */
.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
background-color: black;
overflow: hidden;
}

/* Style the links inside the navigation bar  */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px:
text-decoration: none;
font-size: 25px;
width: 25%;
border-bottom: 3px solid transparent;
}

.topnav a:hover {
  background-color: #000;
  border-bottom: 3px solid green;
}

.topnav a.active {
  background-color: #04AA6D;
  border-bottom: 3px solid green;
}

}
.topnav .search-container {
  float: right;
}
/* Style the Search box */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  font-size: 17px;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }

h1 {
  color: #2c3e50;
}
.msl {
   background-color: lightgrey !important;
    width: 300px !important;
    border: 15px solid green !important;
    padding: 50px !important;
    margin: 20px !important;
}
p {
  color: #34495e;
  font-size: 18px;
}

img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 10px 0;
}

ul {
  list-style-type: square;
  color: green;
  font-size: 16px;
}
/*
a {
  color: #e74c3c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
*/
